#header {
	width: 100%;
	height: 25%;
	background-color: lavender;
	color: turquoise;
}

#main {
	width: 100%;
	height: 80%;

}


#navbar { 
	background-color: red;
	color: white;
	width: 25%;
	height: 90%;
 }

#info {
	background-color: beige;
	width: 75%;
	color: black;
	}

#footer {
	background-color: black;
	color: white;

}
